//Variable Overrides

$theme-colors:(
    "primary" : #d95700
);

$body-bg: #f3f3f3;

.jumbotron {
    background-color: white !important;
    border-top: 3px solid rgb(219, 219, 219);
}
//Bootstrap Sass Files

@import "node_modules/bootstrap/scss/bootstrap";